.app-container {
  display: flex;
  flex-direction: column; /* Arrange content in a column */
  min-height: 100vh; /* Ensure the app takes full height */
}

.main-content {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Add some padding around the main content */
  margin-bottom: 60px; /* Add space for the fixed bottom menu */
}
